@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<footer class="pt-4 font-small">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <h5 class="font-weight-bold mb-4">MeilCli</h5>
                <p>@((MarkupString)text.AboutMe)</p>
            </div>

            <div class="col-lg-4 col-6">

                <h5 class="font-weight-bold mb-4">@text.Link</h5>

                <ul class="list-unstyled mx-auto">
                    <li>
                        <p>
                            <a href="https://blog.meilcli.net/">@text.Blog</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="https://www.resume.id/meilcli">@text.Resume</a>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-6 mx-auto">
                <h5 class="font-weight-bold mb-4">@text.Sns</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a class="btn-floating btn-tw" href="https://twitter.com/penguin_sharp" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a class="btn-floating btn-dribbble" href="https://github.com/MeilCli" target="_blank"><i class="fab fa-github fa-lg"></i></a>
                        </p>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div class="text-center py-3">
        @((MarkupString)text.Copyright)
        <div class="form-row align-items-center text-muted">
            <div class="col"></div>
            <div class="col-auto">
                <i class="fas fa-language fa-2x"></i>
            </div>
            <div class="col-auto">
                <select class="form-control form-control-sm" @onchange="OnChangeCurrentLang">
                    <option value="en" selected="@(CurrentLanguage == "en")">English</option>
                    <option value="ja" selected="@(CurrentLanguage == "ja")">日本語</option>
                </select>
            </div>
        </div>
    </div>

</footer>

@code
{
    I18nText.Footer text = new I18nText.Footer();
    string? CurrentLanguage;

    protected override async Task OnInitializedAsync()
    {
        text = await I18nText.GetTextTableAsync<I18nText.Footer>(this);

        string languageAndCountry = await I18nText.GetCurrentLanguageAsync();
        string language = languageAndCountry.Split('-')[0];
        CurrentLanguage = language switch
        {
            "ja" => language,
            _ => "en"
        };
    }

    async Task OnChangeCurrentLang(ChangeEventArgs args)
    {
        CurrentLanguage = args.Value as string;
        await I18nText.SetCurrentLanguageAsync(CurrentLanguage);
    }
}